*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    width: 500px;
    margin: 20px auto;
    border: 1px solid lightgray;
    padding: 20px;
    text-align: center;
    min-height: 94vh;
}
.countWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
h3{
    margin: 20px;
}
.postsComp{
    min-height: 150px;
}
.post{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}